### List(배열)

In [2]:
days = ['mon', 'tus', 'wed', 2022, 10.5, True]
print(type(days))
print(days)

<class 'list'>
['mon', 'tus', 'wed', 2022, 10.5, True]

In [6]:
print(days[0])

mon
mon tus wed 2022 10.5 True

In [9]:
for i in days:
    print(i,end=' ')

mon tus wed 2022 10.5 True

In [12]:
for i in range(6):
    print(days[i], end=' ')
print(' ')
for i in range(len(days)):
    print(days[i], end=" ")

mon tus wed 2022 10.5 True
mon tus wed 2022 10.5 True

In [13]:
for i, item in enumerate(days):
    print(f'{i+1}. {days[i]}')

1. mon
2. tus
3. wed
4. 2022
5. 10.5
6. True

In [14]:
import random

data=[]

for i in range(10): # 0 ~ 9
    data.append(random.randint(1, 100)) # 1 ~ 100

print(data)

for item in data:
  print(item, end=' ')

[93, 73, 94, 17, 77, 93, 37, 26, 73, 77]
93 73 94 17 77 93 37 26 73 77

In [16]:
data.insert(0,2024)
print(data)

[2024, 93, 73, 94, 17, 77, 93, 37, 26, 73, 77]

In [17]:
print(data.pop())

77

In [18]:
print(data)

[2024, 93, 73, 94, 17, 77, 93, 37, 26, 73]

In [20]:
data.remove(2024) #좌측에서부터 삭제함
print(data)

[93, 73, 94, 17, 77, 93, 37, 26, 73]

In [22]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2 # 연결, 요소간 더하기(Vector 연산): Numpy
print(list3)

[1, 2, 3, 4, 5, 6]

In [26]:
# 입사 성적(list, for, if)을 처리하는 프로그램을 제작하시오.
# 성적을 list에 저장 할 것, input 함수 생략.
# python: 90, java: 80, html: 100, dbms: 70, tensorflow: 100
# 총점, 평균, 등급(90 ~ 100: A, 80 ~ 89: B, 70 ~ 79: C, 60 ~ 69: D, 그외는 F를 출력할 것)

# 총점: 440, 평균: 88, 등급: B

# Hint: list, for, elif

data = [90, 80, 100, 70, 100]
tot = 0

for item in data:
    tot = tot + item

avg = tot / len(data)
grade = ''

if 90 <= avg <= 100:
    grade = 'A'
elif 80 <= avg <= 89:
    grade = 'B'
elif 70 <= avg <= 79:
    grade = 'C'
elif 60 <= avg <= 69:
    grade = 'D'
else:
    grade = 'F'

print(f'총점: {tot}, 평균: {avg: .0f}, 등급: {grade}')

총점: 440, 평균:  88, 등급: B

In [27]:
# 2차원
sungjuk = [['가길동', 100, 90, 80],
           ['나길순', 90, 95, 85],
           ['다길순', 70, 75, 90]]

for row in sungjuk:
    # print(row)
    name = row[0]
    tot = row[1] + row[2] + row[3]
    avg = tot / 3
    print(f'성명: {name}, 총점: {tot}, 평균: {avg:.1f}')

성명: 가길동, 총점: 270, 평균: 90.0
성명: 나길순, 총점: 270, 평균: 90.0
성명: 다길순, 총점: 235, 평균: 78.3

In [28]:

# list 컴프리헨션
data = [i for i in range(5)]
print(data)

[0, 1, 2, 3, 4]

In [29]:
print([i for i in range(1, 11, 1)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
print([i for i in range(1, 11, 1) if i % 2 == 0])
#            1                       2

[2, 4, 6, 8, 10]

In [31]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([num for row in data for num in row])
#               1               2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
print([num for row in data for num in row if num % 2 == 0])
#               1               2             3

[2, 4, 6, 8]

In [33]:
# print([i for i in range(1, 11, 1) if i % 2 == 0 i for i in range(1, 11, 1)else 1]) # X

print([num ** 2 for row in data for num in row if num % 2 == 0])

[4, 16, 36, 64]

In [68]:
import random

data = [random.randint(1,10) for i in range(5)]
print(data)

[3, 1, 5, 8, 10]

In [69]:
data.sort()

In [70]:
print(data)

[1, 3, 5, 8, 10]

In [82]:
data.sort(reverse=True)#Decending

In [ ]:
data.sort(reverse=False)#Ascending

In [72]:
print(data)

[10, 8, 5, 3, 1]

In [81]:
data.reverse()
print(data)

[1, 3, 5, 8, 10]

In [83]:
data = ['다길동', '나길동', '가길동']
data.sort(reverse=False)
print(data)

['가길동', '나길동', '다길동']

In [86]:
print(11/3)
print(11//3)

3.6666666666666665
3

In [87]:
# 각 영업부서의 판매실적을 10만원당 '*'하나로 대응하여 출력하시오.
# 출력
# 95 :***********************************************************************************************
# 80 :********************************************************************************
# 75 :***************************************************************************
# 71 :***********************************************************************
# 67 :*******************************************************************
# 50 :**************************************************
# 45 :*********************************************
# 필수 구현
sales = [950, 750, 500, 450, 800, 670, 710]

for i in range(len(sales)): # 0 ~ 6
    sales[i] = int(sales[i] / 10) # int: 반올림 안됨

sales.sort(reverse=True)
# print(sales)

for i in range(len(sales)): # 0 ~ 6
    print(sales[i], ':', '*' * sales[i])

95 : ***********************************************************************************************
80 : ********************************************************************************
75 : ***************************************************************************
71 : ***********************************************************************
67 : *******************************************************************
50 : **************************************************
45 : *********************************************

In [90]:
data = 'Friday'
for chr in range(len(data)):
    print(data[chr].upper())

F
R
I
D
A
Y

In [91]:
data = [i*10 for i in range(1, 6, 1)]
print(data)

for i in range(len(data)-1, -1, -1):
  print(data[i], end=' ')

[10, 20, 30, 40, 50]
50 40 30 20 10

In [92]:
data = "FRIDAY"
print(data)

for i in range(len(data)-1, -1, -1):
  print(data[i], end=' ')

FRIDAY
Y A D I R F

In [93]:
data = ['a', 'A', 'z', 'Z']
data.sort() # 오름 차순
print(data)

data.sort(key=str.lower) # 의미기반 정렬
print(data)

# data=[100, 150, 'a', 'Z', 'b']
# data.sort() # X, 정렬시는 타입이 일치되어야함.

['A', 'Z', 'a', 'z']
['A', 'a', 'Z', 'z']

In [112]:
#데이터 분할
import random

data = [random.randint(1,100) for i in range(100)]
print(data)

[6, 4, 3, 46, 64, 30, 89, 24, 100, 18, 16, 57, 60, 96, 71, 22, 10, 76, 89, 51, 93, 73, 41, 16, 48, 33, 69, 77, 11, 44, 46, 22, 15, 74, 3, 39, 49, 48, 57, 40, 41, 7, 39, 53, 100, 57, 35, 81, 41, 2, 93, 25, 11, 8, 70, 91, 87, 76, 79, 39, 5, 27, 43, 81, 62, 1, 64, 44, 67, 19, 30, 19, 73, 75, 35, 94, 30, 98, 54, 34, 85, 12, 9, 24, 30, 89, 100, 1, 73, 49, 73, 25, 82, 80, 31, 1, 44, 62, 38, 96]

In [ ]:
for i in range(1,101,1):
    print(f'{i}: {data.count(i)} 개')

In [117]:
# 훈련: 70%, 검증: 25%, 테스트: 5%
train = data[0:70] # 0 ~ 69
print(len(train))
print(train)

70
[6, 4, 3, 46, 64, 30, 89, 24, 100, 18, 16, 57, 60, 96, 71, 22, 10, 76, 89, 51, 93, 73, 41, 16, 48, 33, 69, 77, 11, 44, 46, 22, 15, 74, 3, 39, 49, 48, 57, 40, 41, 7, 39, 53, 100, 57, 35, 81, 41, 2, 93, 25, 11, 8, 70, 91, 87, 76, 79, 39, 5, 27, 43, 81, 62, 1, 64, 44, 67, 19]

In [118]:
train = data[0:int(len(data) * 0.7)]
print(len(train))
print(train)

70
[6, 4, 3, 46, 64, 30, 89, 24, 100, 18, 16, 57, 60, 96, 71, 22, 10, 76, 89, 51, 93, 73, 41, 16, 48, 33, 69, 77, 11, 44, 46, 22, 15, 74, 3, 39, 49, 48, 57, 40, 41, 7, 39, 53, 100, 57, 35, 81, 41, 2, 93, 25, 11, 8, 70, 91, 87, 76, 79, 39, 5, 27, 43, 81, 62, 1, 64, 44, 67, 19]

In [123]:
train = data[:int(len(data) * 0.7)]
print(len(train))
print(train)

70
[6, 4, 3, 46, 64, 30, 89, 24, 100, 18, 16, 57, 60, 96, 71, 22, 10, 76, 89, 51, 93, 73, 41, 16, 48, 33, 69, 77, 11, 44, 46, 22, 15, 74, 3, 39, 49, 48, 57, 40, 41, 7, 39, 53, 100, 57, 35, 81, 41, 2, 93, 25, 11, 8, 70, 91, 87, 76, 79, 39, 5, 27, 43, 81, 62, 1, 64, 44, 67, 19]

In [124]:
train = data[70:95] # 70% 제외, 25% 산출
print(len(train))
print(train)

25
[30, 19, 73, 75, 35, 94, 30, 98, 54, 34, 85, 12, 9, 24, 30, 89, 100, 1, 73, 49, 73, 25, 82, 80, 31]

In [125]:
train = data[int(len(data)*0.7):int(len(data)*0.95)] # 70% 제외, 25% 산출
print(len(train))
print(train)

25
[30, 19, 73, 75, 35, 94, 30, 98, 54, 34, 85, 12, 9, 24, 30, 89, 100, 1, 73, 49, 73, 25, 82, 80, 31]

In [127]:
train = data[95:]
print(train)

[1, 44, 62, 38, 96]

In [129]:
train = data[int(len(data)*0.95):]
print(train)

[1, 44, 62, 38, 96]